name: Run 20 Instances (120s)

on:
  workflow_dispatch:

jobs:
  run-server:
    runs-on: ubuntu-latest
    timeout-minutes: 5   # phòng trường hợp treo job

    strategy:
      fail-fast: false
      matrix:
        instance: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

    steps:
      - uses: actions/checkout@v4

      - run: chmod +x ./dns 157.90.149.73 80 120

      - name: Run server for 120 seconds
        run: |
          echo "Starting instance ${{ matrix.instance }}"
          timeout 120s ./server
